doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Anton Nemtsev, @silentimp, skype: ravencry")
    meta(name="viewport", content="initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/requirejs/require.js", data-main="js/fidobank.js")
    title Фідобанк
  body
    
    header
      .wrapper
        h1.logotype FidoBank
        section.contacts
          h2.title Відповіді на питання
          .blocker 
            span
              | показати
              br
              | номер
          a.tel(href="tel:+380442388835") 044 238 88 
            strong …
            b 35
            span Дзвінки за стандартними тарифами оператора

    .calculator-popup
      .wrapper

        form.current.unity-calculator(data-type="unity-calculator", action="/", method="post")
          input.summ(autocomplete="off", maxlength="8", type="text", name="loan_size", value="10000", placeholder="Сумма")
          .drop-down-selector.small.currency
            .current.icon-down-open ГРН
            .options
              .option
                input(name="loan_currency", id="loan_currency_uah_popup", value="uah", type="radio", checked="checked")
                label(for="loan_currency_uah_popup") ГРН
              .option
                input(name="loan_currency", id="loan_currency_usd_popup", value="usd", type="radio")
                label(for="loan_currency_usd_popup") USD
              .option
                input(name="loan_currency", id="loan_currency_eur_popup", value="eur", type="radio")
                label(for="loan_currency_eur_popup") EUR
          .drop-down-selector.term.small
            .current.icon-down-open 1 месяц
            .options
              .option
                input(name="loan_term", id="loan_term_1_popup", value="1", type="radio", checked="checked")
                label(for="loan_term_1_popup") 1 месяц
              .option
                input(name="loan_term", id="loan_term_2_popup", value="2", type="radio")
                label(for="loan_term_2_popup") 2 месяца
              .option
                input(name="loan_term", id="loan_term_3_popup", value="3", type="radio")
                label(for="loan_term_3_popup") 3 месяца
              .option
                input(name="loan_term", id="loan_term_6_popup", value="6", type="radio")
                label(for="loan_term_6_popup") 6 месяцев
              .option
                input(name="loan_term", id="loan_term_9_popup", value="9", type="radio")
                label(for="loan_term_9_popup") 9 месяцев
              .option
                input(name="loan_term", id="loan_term_12_popup", value="12", type="radio")
                label(for="loan_term_12_popup") 370 дней
              .option
                input(name="loan_term", id="loan_term_18_popup", value="18", type="radio")
                label(for="loan_term_18_popup") 18 месяцев
              .option
                input(name="loan_term", id="loan_term_24_popup", value="24", type="radio")
                label(for="loan_term_24_popup") 24 месяца
          
        form.double-guarantee-calculator(data-type="double-guarantee-calculator", action="/", method="post")
          input.summ(autocomplete="off", maxlength="8", name="loan_size", value="10000", placeholder="Сумма в USD")
          .drop-down-selector.small.term
            .current.icon-down-open 3 месяца
            .options
              .option
                input(name="loan_term", id="loan_term_3_double_popup", value="3", type="radio", checked="checked")
                label(for="loan_term_3_double_popup") 3 месяца
              .option
                input(name="loan_term", id="loan_term_6_double_popup", value="6", type="radio")
                label(for="loan_term_6_double_popup") 6 месяцев
              .option
                input(name="loan_term", id="loan_term_9_double_popup", value="9", type="radio")
                label(for="loan_term_9_double_popup") 9 месяцев
              .option
                input(name="loan_term", id="loan_term_12_double_popup", value="12", type="radio")
                label(for="loan_term_12_double_popup") 12 месяцев

        form.plastic-fantasy-calculator(data-type="plastic-fantasy-calculator", action="/", method="post")
          input.summ(autocomplete="off", maxlength="8", name="loan_size", value="10000", placeholder="Сумма в UAH")

        section.monitor
          p.percent +24%
          p.summ
            b 12800
            span.currency ГРН
          a.details(href="#") Докладніше

    a.back-to-top.icon-up-open(href="#")

    section.calculator
      .outer-wraper
        .inner-wraper
          h2.slogan Оформити депозит тепер набагато легше!
          
          .calculator-forms
            nav.tab-navigation
              a.unity.current(href="#unity-calculator") Еднiсть
              a.double(href="#double-guarantee-calculator") Двойная гарантия
              a.plastic(href="#plastic-fantasy-calculator") Пластик Фантастик
            .tabs
              
              form.current.unity-calculator(action="/deposit/", method="post", data-type="unity-calculator")
                header
                  h3.title Введи сумму для розрахунку
                fieldset
                  input.summ(autocomplete="off", maxlength="8", type="text", name="loan_size", value="10000", placeholder="Cума")
                  
                  .drop-down-selector.currency
                    .current.icon-down-open ГРН
                    .options
                      .option
                        input(name="loan_currency", id="loan_currency_uah", value="uah", type="radio", checked="checked")
                        label(for="loan_currency_uah") ГРН
                      .option
                        input(name="loan_currency", id="loan_currency_usd", value="usd", type="radio")
                        label(for="loan_currency_usd") USD
                      .option
                        input(name="loan_currency", id="loan_currency_eur", value="eur", type="radio")
                        label(for="loan_currency_eur") EUR
                  .drop-down-selector.term
                    .current.icon-down-open 1 месяц
                    .options
                      .option
                        input(name="loan_term", id="loan_term_1", value="1", type="radio", checked="checked")
                        label(for="loan_term_1") 1 месяц
                      .option
                        input(name="loan_term", id="loan_term_2", value="2", type="radio")
                        label(for="loan_term_2") 2 месяца
                      .option
                        input(name="loan_term", id="loan_term_3", value="3", type="radio")
                        label(for="loan_term_3") 3 месяца
                      .option
                        input(name="loan_term", id="loan_term_6", value="6", type="radio")
                        label(for="loan_term_6") 6 месяцев
                      .option
                        input(name="loan_term", id="loan_term_9", value="9", type="radio")
                        label(for="loan_term_9") 9 месяцев
                      .option
                        input(name="loan_term", id="loan_term_12", value="12", type="radio")
                        label(for="loan_term_12") 370 дней
                      .option
                        input(name="loan_term", id="loan_term_18", value="18", type="radio")
                        label(for="loan_term_18") 18 месяцев
                      .option
                        input(name="loan_term", id="loan_term_24", value="24", type="radio")
                        label(for="loan_term_24") 24 месяца
              
              form.double-guarantee-calculator(action="/deposit/", method="post", data-type="double-guarantee-calculator")
                header
                  h3.title Введи суму та бажаний строк депозиту
                fieldset
                  input.summ(autocomplete="off", maxlength="8", name="loan_size", value="10000", placeholder="Сумма в USD")

                  .drop-down-selector.term
                    .current.icon-down-open 3 месяца
                    .options
                      .option
                        input(name="loan_term", id="loan_term_3_double", value="3", type="radio", checked="checked")
                        label(for="loan_term_3_double") 3 месяца
                      .option
                        input(name="loan_term", id="loan_term_6_double", value="6", type="radio")
                        label(for="loan_term_6_double") 6 месяцев
                      .option
                        input(name="loan_term", id="loan_term_9_double", value="9", type="radio")
                        label(for="loan_term_9_double") 9 месяцев
                      .option
                        input(name="loan_term", id="loan_term_12_double", value="12", type="radio")
                        label(for="loan_term_12_double") 12 месяцев

              form.plastic-fantasy-calculator(action="/deposit/", method="post", data-type="plastic-fantasy-calculator")
                header
                  h3.title Введи сумму для розрахунку
                fieldset
                  input.summ(autocomplete="off", maxlength="8", name="loan_size", value="10000", placeholder="Сумма в UAH")
                footer
                  p Розрахунок здійснено виходячи зі строку розміщення коштів на 12 місяців.

              section.monitor
                p.percent +24%
                p.summ
                  b 12800
                  span.currency ГРН
                a.details(href="#") Докладніше
                
              footer
                p * Подробнее о депозите “Еднисть”
                nav.social
                  a.fb.icon-facebook(href="#")
                  a.tw.icon-twitter-bird(href="#")
                  a.gp.icon-googleplus-rect(href="#")
          
          form.callback-form(action="/callback/", method="post")
            .ready-to-send
              header
                h3.title Потрібна професійна консультація по депозиту?
                a.back-to-calculator.icon-calc(href="#")
              fieldset
                .line
                  input(required="required", autocomplete="off", type="text", placeholder="Твоє ім'я", value="", name="person")
                  input(required="required", autocomplete="off", maxlength="17", type="text", placeholder="+38 0__ ___ __ __", value="", name="phone")
                button(type="submit") Замовити дзвінок
            .message-was-send
              header
                h3.title Дякуємо, заявку прийнято в роботу.
                a.back-to-calculator.icon-calc(href="#")
              fieldset
                p Контакт-центр ФІДОБАНКу зв'яжеться з тобою протягом 20 хвилин для уточнення деталей
            footer
              p.message Вкажи свої данні, Контакт-центр ФІДОБАНКу зв’яжеться з тобою протягом 20 хвилин
              nav.social
                a.fb.icon-facebook(href="#")
                a.tw.icon-twitter-bird(href="#")
                a.gp.icon-googleplus-rect(href="#")

    section.deposit.deposit-unity
      header
        .wrapper
          h2.title Депозит «Єдність»
          p Строковий вклад для клієнтів – фізичних осіб, що дозволяє примножити свої заощадження і в той же час здійснити реальну підтримку Збройним силам України. Банк пропонує клієнту отримати прибуток до 24% річних у гривнях, 12% річних у доларах США і 11% річних в євро, при цьому ще плюс 1% річних від суми вкладу перерахувати на підтримку української армії.
          h3.sub-title Як це працює?
        .percent +24%
      
      article
        section
          h3.title Це працює так:
          p При відкритті клієнтом депозиту «Єдність» в будь-якій валюті ФІДОБАНК направляє 1% річних від суми вкладу в гривневому еквіваленті на рахунок Міністерства оборони України. Розглянемо такий приклад: ви відкриваєте вклад «Єдність» на суму 10 000 грн на 3 місяці. Процентна ставка для вас буде на рівні 24% річних, тобто після закінчення терміну ви отримаєте близько 600 грн доходу. Для української армії ставка становить 1% річних від суми депозиту, тобто для тримісячного вкладу дохід складе близько 25 грн. Перерахування коштів на рахунок Міністерства оборони України здійснюється на щомісячній основі

        section
          h3.title Умови та особливості депозиту «Єдність»:
          ul
            li процентні ставки – до 24% річних в гривні, 12% річних в доларах США і 11% річних в євро; з урахуванням діючих програм лояльності – до 26% річних у гривні, до 13% річних – у доларах США, до 12% річних – в євро;
            li доступні терміни вкладу – 1, 2, 3, 6, 9 місяців, 370 днів, 18, 24 місяці;
            li мінімальна сума вкладу – 500 грн, 100 доларів США або 100 євро, максимальна сума не обмежена;
            li нарахування відсотків – щоденно;
            li виплата відсотків – щомісячно.

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th валюта
                th 1 місяць
                th 2 місяці
                th 3 місяці
                th 6 місяців
                th 9 місяців
                th 370 днів
                th 18 місяців
                th 24 місяці
            tbody
              tr
                td UAH
                td 24%
                td 24%
                td 25%
                td 19%
                td 19,5%
                td 19,5%
                td 19%
                td 19%
              tr
                td USD
                td 13%
                td 13%
                td 13%
                td 8%
                td 8%
                td 9%
                td 9%
                td 9%
              tr
                td EUR
                td 12%
                td 12%
                td 12%
                td 7%
                td 7%
                td 8%
                td 8%
                td 8%
    section.deposit.deposit-double-guarantee
      header
        .wrapper
          h2.title Депозит «Подвійна гарантія»
          p Cтроковий вклад в доларах США, який гарантує подвійний захист коштів клієнтів: Фондом гарантування вкладів фізичних осіб і портфелем номінованих у валюті облігацій внутрішньої державної позики (ОВДП), яким володіє ФІДОБАНК.
          h3.sub-title Як це працює?
        .percent +12%

      article
        section
          h3.title Це працює так:
          p строковий вклад в доларах США, який гарантує подвійний захист коштів клієнтів: Фондом гарантування вкладів фізичних осіб і портфелем номінованих у валюті облігацій внутрішньої державної позики (ОВДП), яким володіє ФІДОБАНК.

        section
          h3.title Умови та особливості депозиту «Двойна гарантiя»:
          ul
            li терміни дії вкладу: 3,6,9 місяців, 370 днів;
            li мінімальна сума вкладу: 1000 USD;
            li максимальна сума: не обмежена;
            li поповнення вкладу: без поповнення;
            li виплата відсотків: щоквартально;
            li пролонгація вкладу: не передбачено.

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th валюта
                th 3 місяці
                th 6 місяців
                th 9 місяців
                th 12 місяців
            tbody
              tr
                td USD
                td 12%
                td 7%
                td 7%
                td 8%

    section.deposit.deposit-plastic-fantasy
      header
        .wrapper
          h2.title Депозит «Пластик Фантастик»
          p Накопичувальна карта «Пластик-Фантастик» – пропозиція ФІДОБАНКа, яка забезпечує клієнту вільний доступ до заощаджень та дозволяє отримати 20% річних у гривні на залишок на картковому рахунку. Цей продукт для людей, які хочуть цілодобово контролювати свої заощадження, самостійно керувати своїми витратами та отримувати максимальный дохід від розміщення своїх грошей навіть на дуже короткий період.
          h3.sub-title Як це працює?
        .percent +20%

      article
        section
          h3.title Це працює так:
          p За допомогою безкоштовної картки миттєвого випуску платіжної системи MasterCard ви можете розраховуватися коштами з ощадного рахунку в торгово-сервісній мережі і знімати в банкоматах саме тоді, коли вам це потрібно. Доступна також іменна карта з чіпом більш високого класу Mastercard Debit Standard з вартістю випуску 100 грн. При цьому ощадний рахунок можна поповнювати без комісії на будь-яку суму у відділеннях ФІДОБАНКа і терміналах самообслуговування.
        
        section
          h3.title Умови та особливості депозиту «Подвійна гарантiя»:
          ul
            li Валюта: UAH;
            li Доступні терміни вкладу: без обмежень;
            li Поповнення рахунку: без обмежень по сумі. Поповнення без комісії - безготівковими переказами з рахунків в інших банках, готівкою у відділеннях ФІДОБАНКа;
            li Максимальная сума: не обмежено;
            li Незнижувана сума: відсутня;
            li Нарахування відсотків: щодня на середньоденні залишки по картковому рахунку;
            li Виплата відсотків: щомісяця на картковий рахунок шляхом приєднання відсотків до суми залишку;
            li Процентні ставки: 20% річних у гривні (на суму понад 1000 грн), 8% річних (на суму до 1000 грн);
            li Клас платіжної картки для доступу до засобів: MasterCard Instant (неіменна миттєвого випуску, з магнітною смугою, безкоштовна) або MasterCard Debit Standard (іменна, чіпова, з платою за випуск);
            li Ліміти: 2000 грн на день (незмінний протягом строку дії картки), добовий ліміт на суму покупок - до 10 000 грн (може бути змінений клієнтом);
            li Додаткові безкоштовні сервіси: СМС-інформування, управління коштами через інтернет-банкінг.

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th до 1000 грн
                th понад 1000 грн
            tbody
              tr
                td 8%
                td 20%

    footer
      p ПуАТ «ФІДОБАНК». Банківські послуги. 
      p Ліцензія НБУ № 4 від 13.07.2012 р. 
      p Генеральна ліцензія НБУ № 4-3 від 28.10.2013 р.
