doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Anton Nemtsev, @silentimp, skype: ravencry")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/requirejs/require.js", data-main="js/fidobank.js")
    title Фідобанк
  body
    header
      .wrapper
        h1.logotype FidoBank
        section.contacts
          h2.title Ответы на вопросы
          a(href="tel:+380800307676") 0 800 30 76 76
            span Безкоштовно зі стаціонарних та мобільних телефонів в Україні
    
    .calculator-popup
      .wrapper
        .current.unity-calculator
          input.summ(type="text", name="loan_size", value="", placeholder="Сумма")
          .drop-down-selector.small.currency
            .current.icon-down-open ГРН
            .options
              .option
                input(name="loan_currency", id="loan_currency_uah_popup", value="uah", type="radio", checked="checked")
                label(for="loan_currency_uah_popup") ГРН
              .option
                input(name="loan_currency", id="loan_currency_usd_popup", value="usd", type="radio")
                label(for="loan_currency_usd_popup") USD
              .option
                input(name="loan_currency", id="loan_currency_eur_popup", value="eur", type="radio")
                label(for="loan_currency_eur_popup") EUR
          .drop-down-selector.small.term
            .current.icon-down-open 1 месяц
            .options
              .option
                input(name="loan_term", id="loan_term_1_popup", value="1", type="radio", checked="checked")
                label(for="loan_term_1_popup") 1 месяц
              .option
                input(name="loan_term", id="loan_term_2_popup", value="2", type="radio")
                label(for="loan_term_2_popup") 2 месяца
              .option
                input(name="loan_term", id="loan_term_3_popup", value="3", type="radio")
                label(for="loan_term_3_popup") 3 месяца
              .option
                input(name="loan_term", id="loan_term_6_popup", value="6", type="radio")
                label(for="loan_term_6_popup") 6 месяцев
              .option
                input(name="loan_term", id="loan_term_9_popup", value="9", type="radio")
                label(for="loan_term_9_popup") 9 месяцев
              .option
                input(name="loan_term", id="loan_term_12_popup", value="12", type="radio")
                label(for="loan_term_12_popup") 370 дней
              .option
                input(name="loan_term", id="loan_term_18_popup", value="18", type="radio")
                label(for="loan_term_18_popup") 18 месяцев
              .option
                input(name="loan_term", id="loan_term_24_popup", value="24", type="radio")
                label(for="loan_term_24_popup") 24 месяца
          
        .double-guarantee-calculator
          input.summ(name="loan_size", value="", placeholder="Сумма в USD")
          .drop-down-selector.small.term
            .current.icon-down-open 3 месяца
            .options
              .option
                input(name="loan_term", id="loan_term_3_double_popup", value="3", type="radio", checked="checked")
                label(for="loan_term_3_double_popup") 3 месяца
              .option
                input(name="loan_term", id="loan_term_6_double_popup", value="6", type="radio")
                label(for="loan_term_6_double_popup") 6 месяцев
              .option
                input(name="loan_term", id="loan_term_9_double_popup", value="9", type="radio")
                label(for="loan_term_9_double_popup") 9 месяцев
              .option
                input(name="loan_term", id="loan_term_12_double_popup", value="12", type="radio")
                label(for="loan_term_12_double_popup") 12 месяцев

        .plastic-fantasy-calculator
          input.summ(name="loan_size", value="", placeholder="Сумма в UAH")

        section.monitor
          p.percent +24%
          p.summ
            b 12800
            span.currency ГРН
          a.details(href="#") Подробнее

    .back-to-top.icon-up-open

    section.calculator
      .outer-wraper
        .inner-wraper
          h2.slogan Оформить заявку на депозит, становится гораздо проще!
          .calculator-forms
            nav.tab-navigation
              a.unity.current(href="#unity-calculator") Еднiсть
              a.double(href="#double-guarantee-calculator") Двойная гарантия
              a.plastic(href="#plastic-fantasy-calculator") Пластик Фантастик
            .tabs
              form.unity-calculator.current(action="/deposit/", method="post")
                fieldset
                  input.summ(type="text", name="loan_size", value="", placeholder="Сумма")
                  .drop-down-selector.currency
                    .current.icon-down-open ГРН
                    .options
                      .option
                        input(name="loan_currency", id="loan_currency_uah", value="uah", type="radio", checked="checked")
                        label(for="loan_currency_uah") ГРН
                      .option
                        input(name="loan_currency", id="loan_currency_usd", value="usd", type="radio")
                        label(for="loan_currency_usd") USD
                      .option
                        input(name="loan_currency", id="loan_currency_eur", value="eur", type="radio")
                        label(for="loan_currency_eur") EUR
                  .drop-down-selector.term
                    .current.icon-down-open 1 месяц
                    .options
                      .option
                        input(name="loan_term", id="loan_term_1", value="1", type="radio", checked="checked")
                        label(for="loan_term_1") 1 месяц
                      .option
                        input(name="loan_term", id="loan_term_2", value="2", type="radio")
                        label(for="loan_term_2") 2 месяца
                      .option
                        input(name="loan_term", id="loan_term_3", value="3", type="radio")
                        label(for="loan_term_3") 3 месяца
                      .option
                        input(name="loan_term", id="loan_term_6", value="6", type="radio")
                        label(for="loan_term_6") 6 месяцев
                      .option
                        input(name="loan_term", id="loan_term_9", value="9", type="radio")
                        label(for="loan_term_9") 9 месяцев
                      .option
                        input(name="loan_term", id="loan_term_12", value="12", type="radio")
                        label(for="loan_term_12") 370 дней
                      .option
                        input(name="loan_term", id="loan_term_18", value="18", type="radio")
                        label(for="loan_term_18") 18 месяцев
                      .option
                        input(name="loan_term", id="loan_term_24", value="24", type="radio")
                        label(for="loan_term_24") 24 месяца
              
              form.double-guarantee-calculator(action="/deposit/", method="post")
                fieldset
                  input.summ(name="loan_size", value="", placeholder="Сумма в USD")

                  .drop-down-selector.term
                    .current.icon-down-open 3 месяца
                    .options
                      .option
                        input(name="loan_term", id="loan_term_3_double", value="3", type="radio", checked="checked")
                        label(for="loan_term_3_double") 3 месяца
                      .option
                        input(name="loan_term", id="loan_term_6_double", value="6", type="radio")
                        label(for="loan_term_6_double") 6 месяцев
                      .option
                        input(name="loan_term", id="loan_term_9_double", value="9", type="radio")
                        label(for="loan_term_9_double") 9 месяцев
                      .option
                        input(name="loan_term", id="loan_term_12_double", value="12", type="radio")
                        label(for="loan_term_12_double") 12 месяцев

              form.plastic-fantasy-calculator(action="/deposit/", method="post")
                fieldset
                  input.summ(name="loan_size", value="", placeholder="Сумма в UAH")

              section.monitor
                p.percent +24%
                p.summ
                  b 12800
                  span.currency ГРН
                a.details(href="#") Подробнее
              footer
                p * Подробнее о депозите “Еднисть”
                nav.social
                  a.fb.icon-facebook(href="#")
                  a.tw.icon-twitter-bird(href="#")
                  a.gp.icon-googleplus-rect(href="#")
          
          form.callback-form(action="/callback/", method="post")
            header
              h3.title Хотите получить профессиональную консультацияю по депозиту?
              a.back-to-calculator.icon-calc(href="#")
            fieldset
              .line
                input(type="text", placeholder="Укажите Ваше имя", value="", name="person")
                input(type="text", placeholder="Номер Вашего телефона", value="", name="phone")
              button(type="submit") Перезвоните мне
            footer
              p Укажите Свой номер телефона и ФИДОБАНК свяжется с Вами
              nav.social
                a.fb.icon-facebook(href="#")
                a.tw.icon-twitter-bird(href="#")
                a.gp.icon-googleplus-rect(href="#")


    section.deposit.deposit-unity
      header
        .wrapper
          h2.title Депозит «Єдність» 
          p Строковий вклад для клієнтів – фізичних осіб, що дозволяє примножити свої заощадження і в той же час здійснити реальну підтримку Збройним силам України. Банк пропонує клієнту отримати прибуток до 24% річних у гривні, 12% річних у доларах США і 11% річних в євро, при цьому ще плюс 1% річних від суми вкладу перерахувати на підтримку української армії.
          h3.sub-title Як це працюе?
        .percent +24%
      
      article
        section
          h3.title Це працюе так:
          p При відкритті клієнтом депозиту «Єдність» в будь-якій валюті ФІДОБАНК направляє 1% річних від суми вкладу в гривневому еквіваленті на рахунок Міністерства оборони України. Розглянемо такий приклад: ви відкриваєте вклад «Єдність» на суму 10 000 грн на 3 місяці. Процентна ставка для вас буде на рівні 24% річних, тобто після закінчення терміну ви отримаєте близько 600 грн доходу. Для української армії ставка становить 1% річних від суми депозиту, тобто для тримісячного вкладу дохід складе близько 25 грн. Перерахування коштів на рахунок Міністерства оборони України здійснюється на щомісячній основі

        section
          h3.title Умови та особливості депозиту «Єдність»:
          ul
            li процентні ставки – до 24% річних в гривні, 12% річних в доларах США і 11% річних в євро; з урахуванням діючих програм лояльності – до 26% річних у гривні, до 13% річних – у доларах США, до 12% річних – в євро;
            li доступні терміни вкладу – 1, 2, 3, 6, 9 місяців, 370 днів, 18, 24 місяці; 
            li мінімальна сума вкладу – 500 грн, 100 доларів США або 100 євро, максимальна сума не обмежена;
            li нарахування відсотків – щоденно;
            li виплата відсотків – щомісячно.

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th валюта
                th 1 месяц
                th 2 месяца
                th 3 месяца
                th 6 месяцев
                th 9 месяцев
                th 370 дней
                th 18 месяцев
                th 24 месяца
            tbody
              tr
                td UAH
                td 24%
                td 24%
                td 25%
                td 19%
                td 19,5%
                td 19,5%
                td 19%
                td 19%
              tr
                td USD
                td 13%
                td 13%
                td 13%
                td 8%
                td 8%
                td 9%
                td 9%
                td 9%
              tr
                td EUR
                td 12%
                td 12%
                td 12%
                td 7%
                td 7%
                td 8%
                td 8%
                td 8%


    section.deposit.deposit-double-guarantee
      header
        .wrapper
          h2.title Депозит «Двойная гарантия» 
          p Cтроковий вклад в доларах США, який гарантує подвійний захист коштів клієнтів: Фондом гарантування вкладів фізичних осіб і портфелем номінованих у валюті облігацій внутрішньої державної позики (ОВДП), яким володіє ФІДОБАНК.
          h3.sub-title Як це працюе?
        .percent +12%

      article
        section
          h3.title Це працюе так:
          p строковий вклад в доларах США, який гарантує подвійний захист коштів клієнтів: Фондом гарантування вкладів фізичних осіб і портфелем номінованих у валюті облігацій внутрішньої державної позики (ОВДП), яким володіє ФІДОБАНК.

        section
          h3.title Умови та особливості депозиту «Двойна гарантiя»:
          ul
            li терміни дії вкладу: 3,6,9 місяців, 370 днів;
            li мінімальна сума вкладу: 1000 USD;  
            li максимальна сума: не обмежена; 
            li поповнення вкладу: без поповнення; 
            li виплата відсотків: щоквартально; 
            li пролонгація вкладу: не передбачено. 

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th валюта
                th 3 месяца
                th 6 месяцев
                th 9 месяца
                th 12 месяцев
            tbody
              tr
                td USD
                td 12%
                td 7%
                td 7%
                td 8%

    section.deposit.deposit-plastic-fantasy
      header
        .wrapper
          h2.title Депозит «Пластик Фантастик» 
          p Сберегательная карта «Пластик-Фантастик»  – предложение ФИДОБАНКа, которое  обеспечивает клиенту свободный доступ к сбережениям и позволяет получать 20% годовых в гривне на остаток на карточном счете. Этот продукт для людей, которые хотят круглосуточно контролировать свои средства, самостоятельно управлять своими тратами и получать максимальный доход от размещения своих денег даже на сверхкороткий период.
          h3.sub-title Як це працюе?
        .percent +20%

      article
        section
          h3.title Це працюе так:
          p При помощи бесплатной карты мгновенного выпуска платежной системы MasterCard вы можете рассчитываться средствами со сберегательного счета в торгово-сервисной сети и снимать в банкоматах именно тогда, когда вам это нужно. Доступна также именная карта с чипом более высокого класса Mastercard Debit Standard со стоимостью выпуска 100 грн. При этом сберегательный счет можно пополнять без комиссии на любую сумму в отделениях ФИДОБАНКа и терминалах самообслуживания.
        
        section
          h3.title Умови та особливості депозиту «Двойна гарантiя»:
          ul
            li Валюта: UAH;
            li Доступные сроки вклада: без ограничений;
            li Пополнение счета: без ограничений по сумме. Пополнение без комиссии – безналичными переводами со счетов в других банках, наличными в отделениях ФИДОБАНКа;
            li Максимальная сумма: не ограничена; 
            li Неснижаемая сумма: отсутствует;
            li начисление процентов: ежедневно на среднедневные остатки по карточному счету;
            li выплата процентов: ежемесячно на карточный счет путем присоединения процентов к сумме остатка;
            li Процентные ставки: 20% годовых в гривне (на сумму свыше 1000 грн), 8% годовых (на сумму до 1000 грн);
            li Класс платежной карты для доступа к средствам: MasterCard Instant (неименная мгновенного выпуска, с магнитной полосой, бесплатная) или MasterCard Debit Standard (именная, чиповая, с платой за выпуск);
            li Лимиты: 2 000 грн в день (неизменяемый в течении срока действия карты), суточный лимит на сумму покупок – до 10 000 грн (может быть изменен клиентом);
            li Дополнительные бесплатные сервисы: СМС-информирование, управление средствами через интернет-банкинг. 

        section
          h3.title Процентна ставка:
          table
            thead
              tr
                th до 1000 грн
                th свыше 1000 грн
            tbody
              tr
                td 8%
                td 20%

    footer
      p ПуАТ «ФІДОБАНК». Банківські послуги. 
      p Ліцензія НБУ № 4 від 13.07.2012 р. 
      p Генеральна ліцензія НБУ № 4-3 від 28.10.2013 р.
