.callback-form
  background-color #FFF 
  margin 48px 0 64px
  display none
  fieldset
    padding 0 32px 16px 
    position relative
    .line
      display inline-block
      vertical-align bottom
      input
        outline none
        border 2px solid #b7bbc0
        color #7e8691
        font-size 24px  
        line-height 28px
        padding 8px 16px 
        height 48px
        vertical-align middle
        display block
        box-sizing border-box
        margin-right 32px
        &:first-child
          margin-bottom 32px
        &:hover,
        &:focus
          color #5a7394
          border-color #5e7aa0 
    button
      display inline-block
      vertical-align bottom
      position absolute
      bottom 16px
      right 32px
      line-height 72px
      height 72px
      font-size 20px
      color #FFF
      border-style none
      background-color #3177CD
      overflow visible
      text-align center
      padding 0 16px
      margin 0
      border-radius 3px
      text-decoration none
      cursor pointer
      outline none
      &:active
        padding-top 4px
      &:hover,
      &:focus
        background-color #1a64c0    
  header
    position relative
    height 64px
    padding 16px 96px 16px 32px 
    .title
      font-size 24px
      line-height 32px
      color #262626 
    .back-to-calculator
      position absolute
      right 0
      top 0
      width 64px
      height 64px
      text-align center
      line-height 64px
      background-color #EEE 
      display block
      text-decoration none
      color #5E7AA0
      font-size 56px 
      &:hover,
      &:focus
        background-color darken(#eee,10%) 
      &:before
        position absolute
        top 0
        left 0
        right 0
        bottom 0
  footer
    white-space normal
    padding 0 32px 16px
    line-height 48px
    height 48px
    p
      width 288px
      color #808285
      font-size 14px
      line-height 16px
      float left
      margin-top 8px 
    .social
      float right 
      font-size 14px
      a
        display inline-block
        width 24px
        text-decoration none
        text-align center
        color #424D51
        &:hover
          color #639edc  