@font-face
    font-family 'Plumb Bold'
    src url('../fonts/Plumb-Bold.eot')
    src url('../fonts/Plumb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Plumb-Bold.woff') format('woff'),
        url('../fonts/Plumb-Bold.ttf') format('truetype'),
        url('../fonts/Plumb-Bold.svg#Plumb-Bold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Plumb Regular'
    src url('../fonts/Plumb-Regular.eot')
    src url('../fonts/Plumb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Plumb-Regular.woff') format('woff'),
        url('../fonts/Plumb-Regular.ttf') format('truetype'),
        url('../fonts/Plumb-Regular.svg#Plumb-Regular') format('svg')
    font-weight normal
    font-style normal

@font-face
  font-family 'Plumb Medium'
  src url('../fonts/Plumb-Medium.eot')
  src url('../fonts/Plumb-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Plumb-Medium.woff') format('woff'),
      url('../fonts/Plumb-Medium.ttf') format('truetype'),
      url('../fonts/Plumb-Medium.svg#Plumb-Medium') format('svg')
  font-weight normal
  font-style normal