body>footer
  min-height 36px
  font-size 10px
  line-height 12px
  color #B7BBC0 
  width 832px
  padding 8px 0 8px 192px 
  margin 224px auto 112px
  background #fff url('../images/logotype/footer-logotype.png') 10px 50% no-repeat